body {
    background: black ;
}
@font-face{
    font-family: tetris;
    src: url("fonts/Tetris.ttf");
}
span{
    font-size: 1.3em;
    font-family: tetris;
}

#root_div canvas{
    display: block;
    margin: 0 auto;
}